
html {
    /*font: 400 16px Arial, sans-serif;*/
    font: 400 15px Helvetica Neue, sans-serif;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.def-margin-button {
    margin-right: 5px;
}

.def-width-button {
    width: 100px;
}
/***********************|Report Title|***********************/
.reportTitle {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .reportTitle button {
        font-weight: bold;
        font-size: 15px;
    }

/***********************|Table Filter|***********************/
.tbFilter {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

    .tbFilter tr {
        height: 40px;
    }

        .tbFilter tr td label {
            font-weight: normal;
        }

        .tbFilter tr > td:first-child, .tbFilter tr > td:first-child + td + td {
            font-weight: bold;
            text-align: right;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
        }

            .tbFilter tr > td:first-child + td, .tbFilter tr > td:last-child {
                font-weight: normal;
                color: black;
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
                word-wrap: break-word;
                max-width: 305px;
            }


/*header grid*/
.k-grid .k-grid-header .k-header {
    white-space: normal;
}

    .k-grid .k-grid-header .k-header > .k-link {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        height: auto;
    }

.k-filtercell{
    /*width: -webkit-fill-available !important;*/
    display: inline !important;
}

.k-popup{
    min-width: 200px !important;
}

.k-button, .k-button-group.k-state-disabled .k-button:not(.k-state-active), .k-button-group .k-button.k-state-disabled:not(.k-state-active), .k-list-container .k-nodata .k-button, .k-dropdown .k-dropdown-wrap, .k-grouping-header .k-group-indicator, .k-spreadsheet-filter, .k-pivot-toolbar .k-button, .k-fieldselector .k-list li.k-item, .k-colorpicker .k-picker-wrap, .k-combobox .k-select, .k-datepicker .k-select, .k-timepicker .k-select, .k-datetimepicker .k-select, .k-dateinput .k-select, .k-dropdowntree .k-dropdown-wrap, .k-editor-toolbar a.k-tool, .k-numerictextbox .k-select, .k-handle, .k-map .k-navigator, .k-gantt-views li, .k-task-single, .k-scheduler-navigation .k-nav-today, .k-scheduler-navigation .k-nav-prev, .k-scheduler-navigation .k-nav-next, .k-scheduler-views li, .k-scheduler-footer li{
    background: none;
}